/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.container {
  width: 600px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 20px;
}

#session-selector {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ddd;
}

button.selected {
  background-color: #FFC107;
  border-color: #FFC107;
  color: white;
}

button.past-date {
  background-color: #ccc;
  cursor: not-allowed;
}

#seat-map {
  display: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.seat {
  width: 40px;
  height: 40px;
  background-color: #8BC34A;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.seat.booked {
  background-color: #f44336;
  cursor: not-allowed;
}

.seat.selected {
  background-color: #FFC107;
}

.seat:hover {
  background-color: #4CAF50;
}
